html, body {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

canvas {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
}

#gameStateID {
    display: none; 
}

#gameStateButton { 
    border-radius: 10px ;
    background-color: #235425;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: none;  
}
